# Build directories

build/
out/
bin/
lib/

# CMake

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json
CTestTestfile.cmake
Makefile

# Visual Studio

.vs/
*.vcxproj.user
*.suo
*.user

# Binaries

*.exe
*.dll
*.lib
*.obj
*.pdb

# Logs

*.log

# Assets

*.DS_Store